
/* Smartphones (portrait and landscape) ----------- */
@media only screen 
and (min-device-width : 320px) 
and (max-device-width : 480px) {
.about-lit{background:#3ccbe4 ;height:auto;}
.about-define{text-align:center;}
.about-launch-smalltext{text-align:center;padding:10px;}
.what-important-bg{background:#c4c4c4; height:auto;}
.what-important	{text-align:center;}
.what-simply-text{text-align:center;padding:10px;}
.client-text-logo{text-align:center;}
.about-number-bg{background:#443d37;height:auto;}
.itdefence-area{text-align:center;}
.itdefence-smalltext{text-align:center;}
.box1{width:100%;}
.box2{width:100%;}
.box3{width:100%;}
.box4{width:100%;}
.box5{width:100%;}
.bg-color-black{height:auto;float:left;margin-bottom:20px;}
.services-text{text-align:center;}
.service-smallone{text-align:center;padding:10px;}
.service-bg{background:#dc6f21;height:auto;}
.expertise-bg{background:#666;height:auto;}
.carousel-indicators{margin-bottom:25px;}
.career-text{text-align:center;}
.career-text-small{text-align:center;padding:10px;}
.news-bg{background:#1eb8c5;height:auto;}
.event-news{text-align:center;}
.event-small-text{text-align:center;padding:10px;}
.contact-bg{height:auto !important;}
.contact-adds{text-align:center;}
.socialbtns, .socialbtns ul, .socialbtns li{float:none;}
.search-filter{margin-left:9px;}
.second-slide-text{font-size:20px;line-height:25px;padding-top:30%;}
.contact-info h3{text-align:center;}
.contact-form h3{text-align:center;}
.footer p{text-align:center;}
.elastislide-horizontal {
    padding: 10px 69px !important;
}
 #quote-carousel .carousel-indicators {
        bottom: -20px !important;  
    }

.navbar-form{border-top:none;}
.box-search{margin-top:-8px;}


}



@media only screen 
and (min-device-width : 360px) 
and (max-device-width : 640px) {
.about-lit{background:#3ccbe4 ;height:auto;}
.about-define{text-align:center;}
.about-launch-smalltext{text-align:center;padding:10px;}
.client-text-logo{text-align:center;margin-top:0px !important;}	
.what-important{text-align:center;}
.what-simply-text{text-align:center;padding:10px;}
.itdefence-area{text-align:center;}
.itdefence-smalltext{text-align:center;}
.box1{width:100%;}
.box2{width:100%;}
.box3{width:100%;}
.box4{width:100%;}
.box5{width:100%;}
.about-number-bg{background:#443d37;height:auto;}
.bg-color-black{height:auto;float:left;margin-bottom:20px;padding-bottom: 20px;}
.services-text{text-align:center;}
.service-smallone{text-align:center;padding:10px;}
.service-bg{background:#dc6f21;height:auto;}
.career-text{text-align:center;}
.career-text-small{text-align:center;padding:10px;}
.event-news{text-align:center;}
.event-small-text{text-align:center;padding:10px;}
.contact-info h3{text-align:center;}
.contact-info ul{text-align:center;}
.contact-bg{height:auto !important;}
.contact-form h3{text-align:center;}
.footer p{text-align:center;}
.contact-adds{text-align:center;}
.socialbtns, .socialbtns ul, .socialbtns li{float:none;}
.search-filter{margin-left:46% !important;}
.navbar-form{border-top:none;}
.box-search{margin-top:-8px;}
}

@media only screen 
and (min-width : 768px) {
	
	
	
	
	
	
	
	}


@media only screen 
and (min-width : 321px) {
	

}




/* Smartphones (landscape) ----------- */
@media only screen 
and (min-width : 321px) {
/* Styles */
}

/* Smartphones (portrait) ----------- */
@media only screen 
and (max-width : 320px) {
/* Styles */
}

/* iPads (portrait and landscape) ----------- */
@media only screen 
and (min-device-width : 768px) 
and (max-device-width : 1024px) {
/* Styles */
}

/* iPads (landscape) ----------- */
@media only screen 
and (min-device-width : 768px) 
and (max-device-width : 1024px) 
and (orientation : landscape) {
.about-lit{background:#3ccbe4 ;height:auto;}
.about-number-bg{background:#443d37;height:auto;}
.bg-color-black{height:auto;float:left;margin-bottom:20px;padding-bottom: 20px;}
.box1{width:50%;}
.box2{width:50%;}
.box3{width:50%;}
.box4{width:50%;}
.box5{width:50%;}
.service-bg{background:#dc6f21;height:auto;}




}

/* iPads (portrait) ----------- */
@media only screen 
and (min-device-width : 768px) 
and (max-device-width : 1024px) 
and (orientation : portrait) {
.about-lit{background:#3ccbe4 ;height:auto;}
.about-define{text-align:center;}
.about-launch-smalltext{text-align:center;}
.about h2{margin-top:15px !important;}
.what-important{text-align:center;}
.what-simply-text{text-align:center;}
.itdefence-area{text-align:left;}
.itdefence-smalltext{text-align:center;}
.about-number-bg{background:#443d37;height:auto;}
.bg-color-black{height:auto;float:left;margin-bottom:20px;padding-bottom: 20px;}
.box1{width:50%;}
.box2{width:50%;}
.box3{width:50%;}
.box4{width:50%;}
.box5{width:50%;}
.services-text{text-align:center;}
.service-smallone{text-align:center;}
.service-bg{background:#dc6f21;height:auto;}
#quote-carousel .carousel-indicators{margin-bottom:40px;}
.career-text{text-align:center;}
.career-text-small{text-align:center;padding:10px;}
.event-news{text-align:center;}
.event-small-text{text-align:center;padding:10px;}
.contact-bg{height:auto !important;}
.client-text-logo{text-align:center;}
.itdefence-area{text-align:center;}

}

/* Desktops and laptops ----------- */
@media only screen 
and (min-width : 1224px) {
/* Styles */
}

/* Large screens ----------- */
@media only screen 
and (min-width : 1824px) {
/* Styles */
}
